.herobutton {
    cursor: pointer;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
        position: absolute;
        font-size: 10pt;
        top: 14px;
        font-family: fontbold;
        margin: 0 auto;
        color: #fff;
        transition: 0.25s;
        &:hover {
            color: #fff !important;
        }
    }
}
.connectbutton {
    cursor: pointer;
    position: relative;
    // background-color: red;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    &--text-yellow {
        position: absolute;
        font-size: 10pt;
        top: 12px;
        font-weight: bold;
        margin: 0 auto;
        color: #6f3c12;
        transition: 0.25s;
        &:hover {
            color: #fff !important;
        }
    }
    &--text-green {
        position: absolute;
        font-size: 15px;
        top: 12px;
        margin: 0 auto;
        color: #6f3c12;
        transition: 0.25s;
        color: #fff !important;
    }
    &--text-gray {
        position: absolute;
        font-size: 10pt;
        top: 12px;
        font-weight: bold;
        margin: 0 auto;
        color: #3e3834;
    }
    img {
        width: 140px;
    }
}

.order-badge {
    background: #be6d02;
    font-family: fontbold;
    font-size: 10pt;
    border-radius: 50px;
    padding: 3px 10px;
}

.lottery-number {
    padding: 10px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    font-family: fontbold;
    font-size: 18pt;
    color: #fff;
    &[class-type="1"] {
        background-image: linear-gradient(110deg, #ff4b00, #ff9b00);
        border: 4px solid #ff9500;
    }
    &[class-type="2"] {
        background-image: linear-gradient(110deg, #01b367, #12ff96);
        border: 4px solid #11f792;
    }
    &[class-type="3"] {
        background-image: linear-gradient(110deg, #9121ff, #c57bfe);
        border: 4px solid #bf71fe;
    }
    &[class-type="4"] {
        background-image: linear-gradient(110deg, #840201, #e00a0e);
        border: 4px solid #d1080c;
    }
    &[class-type="5"] {
        background-image: linear-gradient(110deg, #ff9c00, #ffcd00);
        border: 4px solid #fec403;
    }
    &[class-type="6"] {
        background-image: linear-gradient(110deg, #00c3ea, #36eaff);
        border: 4px solid #32e8fe;
    }
    &[class-type="7"] {
        background-image: linear-gradient(110deg, #fe0371, #fe589e);
        border: 4px solid #ff4b98;
    }
    &[class-type="8"] {
        background-image: linear-gradient(110deg, #0281ff, #5dbfff);
        border: 4px solid #56baff;
    }
    &[class-type="9"] {
        background-image: linear-gradient(110deg, #ff75b5, #fcb0d9);
        border: 4px solid #fdacd7;
    }
    &[class-type="0"] {
        background-image: linear-gradient(110deg, #1c0289, #0b20ff);
        border: 4px solid #0a1df1;
    }
}
.lottery-edit {
    background-color: #fffbef;
    color: #67350f;
    font-family: fontbold;
    font-size: 14pt;
    width: 50px !important;
    border-radius: 5px;
    border: 3px solid #e1caa2;
}
