@media screen and (max-width: 766px) {
    .step-panel-cont {
        height: inherit !important;
    }
    .banner-desktop {
        height: 550px !important;
        width: 100%;
        background: url(/img/banner/banner-mobile-n.png) !important;
        background: {
            repeat: no-repeat !important;
            size: cover !important;
        }
        .fnt-s6 {
            font-size: 23pt !important;
        }
    }
}
